@model TestHangar.Web.UI.Models.ScenariosInTag

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2><span class="label label-default">@Model.Tag</span> <small>@Model.Scenarios.Length tests</small></h2>

@foreach (var s in Model.Scenarios)
{
    <div class="row scenario">
        <h3><strong>Scenario: </strong>@s.Scenario.Name</h3>
        <div class="col-lg-9">
            <p>@s.Scenario.Description</p>
            <p class="steps">
                @foreach (var x in s.Scenario.Steps)
                {
                    <strong>@x.Keyword</strong> @x.Name<br />
                }
            </p>
        </div>
        <div class="col-lg-3 tags">
            <ul class="list-inline">
                @foreach (var t in s.Scenario.Tags ?? new string[] { })
                {
                    <li><span class="label label-default">@Html.ActionLink(t.Replace("@", ""), "ByTag", new { id = t })</span></li>
                }
            </ul>
        </div>
    </div>
}


