@model TestHangar.Model.RunResults.RunResult

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/Layout.cshtml";
    
}

<h2>RESULTS: @Model.name</h2>

@foreach (var s in Model.elements)
{
    <div class="scenario row">
        <h3><strong>Scenario: </strong>@s.name</h3>
        <div class="col-lg-9">
            <div class="steps">
                @foreach (var x in s.steps)
                {
                    <span class="label label-@x.result.status">@x.result.status</span> <strong>@x.keyword</strong> @x.name<br />
                    if (!string.IsNullOrEmpty(x.result.error_message))
                    {
                        <pre>@x.result.error_message</pre>
                    }
                }
            </div>
        </div>
        <div class="col-lg-3 tags">
        </div>
    </div>
}